<h1>Showing Booking</h1>


<p><strong>startDate: </strong><%= @booking.startDate %></p>
<p><strong>endDate: </strong><%= @booking.endDate%></p>
<p><strong>status: </strong><%= @booking.status%></p>
<p><strong>Price: </strong><%= @booking.price %></p>
