<h1>Showing Property</h1>


<p><strong>name: </strong><%= @property.name %></p>
<p><strong>address: </strong><%= @property.address%></p>
<p><strong>Lat: </strong><%= @property.latitude%></p>
<p><strong>Long: </strong><%= @property.longitude %></p>
